body {
  background-color: rgb(40,40,50);
  font-size: 100%;
  font-family: Monaco, monospace;
}

/*Logo*/
h1 {
  padding-top: 90px;
  padding-left: 30px;
  text-align: left;
  font-size: 15em;
  color: rgb(220,220,220);
}

/*Sign In Header*/
h2 {
  padding-top: 0.6em;
  font-size: 7em;
  text-align: center;
  color: rgb(220,220,220);
}

/*Project Info and Names On Bottom*/
h5 {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  color: rgb(220,220,220);
  background-color: rgb(60,60,70);
}

/*Main Page*/
.btn.homepage {
  font-size: 4.3em;
}

.buttons {
  padding-top: 30px;
  padding-right: 52px;
  float: right;
}

.form-group {
  text-align: center;
  padding-bottom: 5px;
}

/*Main Page Numbering*/
.numbering {
  color: rgb(150,150,150)
}

.tab {
  padding-left: 15px;
}

#page1, #page2, #page3 {
  height: 100vh;
}

#page2, #page3 {
  padding-top: 10px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating
   loading modal code from : http://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery */
.loadal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1)
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadal {
    display: block;
}
