body {
  background-color: #f0f0f0;  
  color: black;
  font-size: 100%;
  font-family: Helvetica, Monaco, monospace;
}

/*Sign In and Account Creation Headers*/
h2 {
  color: black;
  font-family: Helvetica, Monaco, monospace;
  font-size: 7em;
  padding-top: 0.6em;
  text-align: center;
}

/*Project Info and Names On Bottom*/
h5 {
  bottom: 0px;
  color: white;
  font-family: Helvetica, Monaco, monospace;
  position: fixed;
  text-align: center;
  width: 100%;
}

a, a:hover {
  color: #fd817c;
}

/*Main Page*/
.form-group {
  text-align: center;
  padding-bottom: 5px;
}

/*Header and Footer*/
.navbar .container-fluid {
  background-color: white;
  padding-left: 3em;
  padding-right: 3em;
}

.navbar-brand img {
  width: 12.609em;
  height: 3em;
}

.navbar-default .navbar-nav li a {
  color: black;
  font-size: 2.5em;
  padding: 1.1em 0.54em 1.1em 0.56em;

}

.navbar-fixed-bottom {
  background-color: #242423;
  height: 5%;
}

.navbar-header {
  height: 7.5em;
}

.navbar-right {
  margin: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fd817c;
  background-color: #e7e7e7;
}

/*Main Page Numbering*/
.btn-info {
  background-color: #fd817c;
  border-color: #fd817c;
}
.btn-info:hover, .btn-info:active:hover {
  border-color: #fd817c;
  background-color: #ff564f;
}

#create_account_btn {
  color: white;
  margin: 0.56em;
  padding: 0.5em;
}

#create_account_btn:hover {
  color: #ff564f;
  border-color:  #ff564f;
}

#page1 .mySlides img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 85%;
}

#page1, #page2, #page3 {
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 7.5em;
}

/* Fading animation */
.slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fd817c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ff564f;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating
   loading modal code from : http://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery */
.loadal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1)
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadal {
    display: block;
}
