body {
  /* background-color: rgb(40,40,50); */
  color: black;
  font-size: 100%;
  font-family: Helvetica, Monaco, monospace;
}

/*Logo*/
h1 {
  padding-top: 90px;
  padding-left: 30px;
  text-align: left;
  font-size: 15em;
  color: rgb(220,220,220);
}

/*Sign In Header*/
h2 {
  padding-top: 0.6em;
  font-size: 7em;
  text-align: center;
  color: rgb(220,220,220);
}

/*Project Info and Names On Bottom*/
h5 {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  color: white;
  background-color: #242423;
}

/*Main Page*/
.form-group {
  text-align: center;
  padding-bottom: 5px;
}

.navbar .container-fluid {
  background-color: white;
  padding-left: 3em;
  padding-right: 3em;
}

.navbar-brand img {
  width: 12.609em;
  height: 3em;
}

.navbar-default .navbar-nav li a {
  color: black;
  font-size: 2.5em;
  padding: 1.1em 0 1.1em 1.1em;

}

.navbar-fixed-bottom {
  background-color: #242423;
  height: 5%;
}

.navbar-header {
  height: 7.5em;
}

.navbar-right {
  margin: 0;
}

/*Main Page Numbering*/
.numbering {
  color: rgb(150,150,150)
}

.tab {
  padding-left: 15px;
}

#page1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 95%;
}

#page1, #page2, #page3 {
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 7.5em;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating
   loading modal code from : http://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery */
.loadal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1)
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadal {
    display: block;
}
