.user-info {
  padding-top: 7.5em;
}

h2 {
  text-align: left;
  font-size: 50px;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

#user_sidebar {
  margin-top: 80px;
  margin-left: 20px;
  width: 300px;
  color: black;
  text-align: center;
}

#saved {
  margin-left: 350px;
  margin-top: 80px;
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#shared{
  margin-left: 350px;
  margin-top: 80px;
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
