<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
  <link rel="stylesheet" type="text/css" href="css/text-editor.css"/>

  <title>Mergeable: Text-Editor</title>
</head>

<body class="loading">
  <!-- Navigation Bar: Homepage, Profile, New Doc, Sign Out -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Mergeable</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li class="active"><a href=/new><span class="glyphicon glyphicon-plus"></span> New</a></li>
      <li><a href=/signout><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
    </ul>
    </div>
  </nav>
  <!-- File options: Change Language, Change Theme, Save As, Download -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="fileTitle" class="navbar-brand" href="#">New File</a>
      </div>
      <ul class="nav navbar-nav">

        <!-- LANGUAGE OPTIONS -->
        <li class="dropdown">
          <a id="language" class="dropdown-toggle" data-toggle="dropdown">JavaScript
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="CSharp" href="#">C#</a></li>
            <li><a id="CSS" href="#">CSS</a></li>
            <li><a id="HTML" href="#">HTML</a></li>
            <li><a id="Java" href="#">Java</a></li>
            <li class="active"><a id="JavaScript" href="#">JavaScript</a></li>
            <li><a id="Python" href="#">Python</a></li>
            <li><a id="TypeScript" href="#">TypeScript</a></li>
            <li><a id="c_cpp" href="#">C++</a></li>
          </li>
        </ul>

        <!-- THEME OPTIONS -->
        <li class="dropdown">
          <a id="theme" class="dropdown-toggle" data-toggle="dropdown">Theme
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="Chrome" href="#">Chrome</a></li>
            <li><a id="Clouds" href="#">Clouds</a></li>
            <li><a id="Cobalt" href="#">Cobalt</a></li>
            <li><a id="Eclipse" href="#">Eclipse</a></li>
            <li><a id="Github" href="#">Github</a></li>
            <li><a id="Merbivore" href="#">Merbivore</a></li>
            <li><a id="Mono_industrial" href="#">Mono-Industrial</a></li>
            <li class="active"><a id="Monokai" href="#">Monokai</a></li>
            <li><a id="Terminal" href="#">Terminal</a></li>
          </ul>
        </li>

        <!-- FONT SIZE -->
        <li class="dropdown">
          <a id="fontsize" class="dropdown-toggle" data-toggle="dropdown">12px
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="size10" href="#">10px</a></li>
            <li><a id="size11" href="#">11px</a></li>
            <li class="active"><a id="size12" href="#">12px</a></li>
            <li><a id="size13" href="#">13px</a></li>
            <li><a id="size14" href="#">14px</a></li>
            <li><a id="size16" href="#">16px</a></li>
            <li><a id="size20" href="#">20px</a></li>
            <li><a id="size24" href="#">24px</a></li>
            <li><a id="size30" href="#">30px</a></li>
            <li><a id="size48" href="#">48px</a></li>
          </ul>
        </li>

        <li><a id="saveAs" href="#" data-toggle="modal" data-target="#savedoc-modal">Save As</a></li>
        <li><a id="save" href="#">Save</a></li>
        <li><a href="" id="link" onclick="setupDownloadLink(this)" download="MergeableDoc">Download</a></li>
        <li><a id="run" href="#">Run</button></li>
      </ul>
    </div>
  </nav>

  <!-- Save Options -->
  <!-- Modal -->
  <div class="modal fade" id="savedoc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Save Document</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Untitled"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description" placeholder="A short description of your project."/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Grant Access To:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="additionalEditors" name="additionalEditors" placeholder="Separate emails by commas"/>
                    </div>
                  </div>
                  <div class="checkbox">
                    <label class="col-sm-2 control-label"><input type="checkbox" id="private" value="">Private</label>
                    <div class="col-sm-10">
                    </div>
                  </div>
                </form>

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="save_new">Save</button>
            </div>
        </div>
    </div>
  </div>

  <!-- SIGN IN MODAL -->
  <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="signinModalLabel">Sign In</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
  						        <input type="email" class="form-control login-input" id="email" name = "email" placeholder="Enter email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
          						<input type="password" class="form-control login-input" id="pass" name = "password" placeholder="Enter password">
                    </div>
                  </div>
                </form>
                <a href="#" id="registerModalTrigger"> Don't have an account? Register here </a>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="sign_in">Sign in</button>
            </div>
        </div>
    </div>
  </div>

  <!-- REGISTER MODAL -->
  <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="registerModalLabel">Register</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control create-input" id="f_name" name="f_name" placeholder="First Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control create-input" id="l_name" name="l_name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
          					<input type="email" class="form-control create-input" id="e_mail" name="e_mail" placeholder="Enter email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
          					<input type="password" class="form-control create-input" id="pwd" name="pwd" placeholder="Enter password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Confirm Password</label>
                  <div class="col-sm-10">
          					<input type="password" class="form-control create-input" id="pwd2" name="pwd2" placeholder="Confirm password">
                  </div>
                </div>
                </form>
                <a href="#" id="signinModalTrigger"> Already have an account? Sign in here </a>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="register">Register</button>
            </div>
        </div>
    </div>
  </div>

  <div class="loadal"></div>
  <!-- Text-editor (using Ace) -->
  <div id="editor"></div>
  <!-- Alert modals -->
  <div class="modal fade" id="signinAlert" role="dialog"></div>
  <div class="modal fade" id="savedAlert" role="dialog"></div>
  <div class="modal fade" id="titleAlert" role="dialog"></div>
  <div class="modal fade" id="permissionsAlert" role="dialog"></div>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Compiled/Minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Ace Integration -->
  <script src="../ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/text-editor.js" type="text/javascript"></script>
</body>
</html>
