<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="index.css"/>
  <link rel="stylesheet" type="text/css" href="user_profile.css"/>

  <title>Mergeable: Account</title>
</head>

<body>
  <!-- Navigation Bar: Homepage, Profile, New Doc, Sign Out -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Mergeable</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="user_profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="text-editor.html"><span class="glyphicon glyphicon-plus"></span> New</a></li>
      <li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
    </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
    <!-- Sidebar for user info -->
      <div id="user_sidebar" class="col-sm-4">
        <img src="assets/user_default.png" class="img-circle .img-responsive" alt="Profile Picture" width="200" height="200">
        <h3>First Last</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>

  <!-- Saved Documents -->
      <div id="saved" class=".col-sm-8">
        <h2> Saved Documents </h2>
        <div class="list-group">
          <a href="" class="list-group-item">
            <h3 class="list-group-item-heading">First</h3>
            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </a>
          <a href="" class="list-group-item">
            <h3 class="list-group-item-heading">Second</h3>
            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </a>
          <a href="" class="list-group-item">
            <h3 class="list-group-item-heading">Third</h3>
            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
